h1{
    color: red;
}
h2{
    color: blue;
}
h3{
    color: green;
}
h4{
    color: yellow;
}
h5{
    color: orange;
}
h6{
    color: purple;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}